html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/login_bg.jpg) no-repeat center;
    background-size: cover
}

.logoin {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 310px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.title {
    width: 100%;
    height: 60px;
    background: url(../images/login_title.png) no-repeat center;
}

.login-box {
    width: 95%;
    margin: 0 auto;
}

.liks {
    display: flex;
    justify-content: flex-end
}

.reg-box {
    width: 95%;
    margin: 0 auto;
    display: none;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.layui-input {
    padding-left: 35px;
}